<footer class="footer bg-dark rounded-top text-center">
  <div class="container py-2">
    <div class="text-white my-2" style="font-size: medium">
      Escríbenos:
      <a href="https://twitter.com/?lang=es" title="twitter" class="mr-3 ml-2"><img src="assets/images/twitter.png" width="20px" height="20px"></a>
      <a href="https://www.whatsapp.com/?lang=es" title="whatsapp" class="mr-3"><img src="assets/images/whatsapp.png" width="20px" height="20px"></a>
      <a href="https://www.google.com/intl/es/gmail/about/" title="gmail" class="mr-3"><img src="assets/images/gmail.png" width="20px" height="20px"></a>
      &copy;Librería
    </div>
  </div>
</footer>
